[run]
source = examlex
branch = true
omit =
    tests/*
    */__init__.py
    examlex/scripts/vocab_data.py
    examlex/cli.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    raise SystemExit
show_missing = true
precision = 2

[html]
directory = htmlcov
